<div class="container">
	<h1 class="mb-8">
    Current Locations
  </h1>

	<table class="text-left w-full">
		<thead class="bg-black flex text-white w-full" style="background-color: #0eb0ad;">
			<tr class="flex w-full mb-4">
				<th class="p-4 w-1/4">Name</th>
				<th class="p-4 w-1/4">State</th>
				<th class="p-4 w-1/4">City</th>
				<th class="p-4 w-1/4">Street Address</th>
			</tr>
    </thead>
    
		<tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 30vh; overflow-y: auto;">
			<tr class="flex w-full mb-4">
				<td class="p-4 w-1/4">Livestock 1</td>
				<td class="p-4 w-1/4">South Carolina</td>
				<td class="p-4 w-1/4">Greenville</td>
				<td class="p-4 w-1/4">300 Freedom Dr</td>
			</tr>
			<tr class="flex w-full mb-4">
				<td class="p-4 w-1/4">Livestock 2</td>
				<td class="p-4 w-1/4">North Carolina</td>
				<td class="p-4 w-1/4">Charlotte</td>
				<td class="p-4 w-1/4">211 Pine Level</td>
			</tr>
			<tr class="flex w-full mb-4">
				<td class="p-4 w-1/4">Livestock 3</td>
				<td class="p-4 w-1/4">North Carolina</td>
				<td class="p-4 w-1/4">Durham</td>
				<td class="p-4 w-1/4">87 Greek Crescent</td>
			</tr>
		</tbody>
	</table>
</div>